Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a manner that allows for efficient storage, retrieval, and manipulation of information. It provides a way to manage and organize large amounts of data and enables users or applications to access, update, and query the data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems that are used to store and retrieve data, but they differ in their data models, query languages, and design principles.

SQL databases:

SQL databases are based on the relational data model, where data is organized into tables with rows and columns. Each table represents an entity, and relationships between entities are defined through keys (primary and foreign keys).
SQL databases use structured query language (SQL) for defining and manipulating the data. SQL provides a standardized language for creating, querying, and modifying relational databases.
SQL databases ensure data integrity and enforce data consistency through constraints and transactions.
Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL databases:

NoSQL databases are designed to handle large volumes of unstructured or semi-structured data. They provide flexible data models that are not based on the traditional relational model.
NoSQL databases can be categorized into different types based on their data models: document-oriented, key-value, columnar, and graph databases.
NoSQL databases often have a schema-less design, allowing for dynamic and agile data structures.
NoSQL databases typically have horizontal scalability, meaning they can easily scale out by adding more servers to distribute the load.
Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Neo4j.
In summary, SQL databases are based on the relational model, use SQL for querying, and provide strong data consistency, while NoSQL databases are more flexible, handle unstructured data, and offer horizontal scalability. The choice between SQL and NoSQL depends on the specific requirements of the application, data model, and scalability needs.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. 
 It is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. 
 DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes,
views, and schemas.

CREATE: CREATE command is used to create both databases and tables

Example:CREATE DATABASE DATABASENAME;

DROP: DROP command is used to permanently delete a table or database

Example:DROP DATABASE DATABASENAME;

ALTER:ALTER is used to modify or change a database table

Example:ALTER TABLE TABLENAME
        MODIFY COLUMN COLUMNNAME;

TRUNCATE:TRUNCATE is used to delete the structure of the table

Example:TRUNCATE DATABASENAME;



Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. 
It is a subset of SQL (Structured Query Language) used for manipulating and working with the data within a database. 
DML statements are responsible for inserting, updating, and deleting data in database tables.

INSERT: INSERT command is used to insert data into the table

Example:INSERT INTO Employees (EmployeeID, FirstName, LastName, Age)
VALUES (1, 'John', 'Doe', 30);


UPDATE:UPDATE command is used to update the data in the table to new data.

Example:UPDATE Employees
SET Age = 35
WHERE EmployeeID = 1;


DELETE:DELETE command is used to delete a specific row in a table.
Example:DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

 DQL stands for Data Query Language. 
 It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. 
 DQL statements, primarily the SELECT statement, are used to specify the data to be retrieved and any conditions 
 or criteria for the query.

 SELECT: SELECT command is used to retrieve data from the table
 Example:SELECT FirstName, LastName, Age
FROM Employees
WHERE Age > 30;

Q5. Explain Primary Key and Foreign Key.


Primary Key:
A primary key is a column or a combination of columns that uniquely identifies each row (record) in a database table. 
It ensures the uniqueness and integrity of the data within the table.

Foreign Key:
A foreign key establishes a relationship between two tables in a relational database.
 It is a column or a set of columns in one table that refers to the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# import mysql.connector

#create user 'user'@'%' identified by 'password'

mydb = mysql.connector.connect(
    
  host="localhost",
    
  user="abc",
    
  password="password"
    
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of clauses in an SQL query generally follows the following sequence:

FROM: The FROM clause specifies the tables or views from which the data will be retrieved. It identifies the data source for the query.

WHERE: The WHERE clause is used to filter the rows based on specified conditions. It allows you to define criteria that the data must meet to be included in the result set. Only the rows that satisfy the conditions specified in the WHERE clause are considered for further processing.

GROUP BY: The GROUP BY clause is used to group rows based on one or more columns. It is often used in combination with aggregate functions (such as SUM, COUNT, AVG) to calculate summaries or perform calculations on groups of rows.

HAVING: The HAVING clause is used to filter the groups produced by the GROUP BY clause. It allows you to specify conditions that the grouped data must satisfy. Only the groups that meet the specified conditions are included in the result set.

SELECT: The SELECT clause determines the columns or expressions that will be included in the result set. It specifies the data to be retrieved and can include functions, calculations, aliases, and more.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It allows you to specify the sorting order, such as ascending (ASC) or descending (DESC).

LIMIT/OFFSET: The LIMIT clause (sometimes combined with OFFSET) is used to limit the number of rows returned by the query. It is often used for pagination or to retrieve a subset of the result set.

It's important to note that not all clauses are required in every query. The specific clauses used and their order of execution may vary depending on the requirements of the query and the SQL dialect being used. Additionally, some clauses may be combined or omitted depending on the complexity of the query and the desired outcome.